TimeSeries/PublicApis/SdkExamples/SharpShooterReportsRunner/Schema/AQAtom.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--
    Version: 0.1 (13/07/2007)
    Name: AQAtom.xsd
    
    This file was written by Peter Sharpe

    Copyright (c) 2007 by Aquatic Informatics Inc.
    All Rights Reserved.
 -->
    <!-- AQAtom type definitions -->
    <xs:simpleType name="AQHydroMLStatusEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Complete"/>
			<xs:enumeration value="Incomplete"/>
			<xs:enumeration value="Template"/>
			<xs:enumeration value="None"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AQTimeSeriesStatusEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="Online"/>
			<xs:enumeration value="Offline"/>
			<xs:enumeration value="Inactive"/>
		</xs:restriction>
	</xs:simpleType>
  <!--
	=====================================================
  **          AQAtom element definitions             **
	=====================================================
  -->
  <!--
	*****************************************************
		AQAtom_DiscreteSamples
	*****************************************************
	-->
  <xs:element name="AQAtom_DiscreteSamples">
    <xs:annotation>
      <xs:documentation>Discrete Samples data structure</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="AQSamples_T">
          <xs:sequence>
            <xs:element name="errorRuleList" type="AQErrorRuleSection_T" minOccurs="0" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!--
	*****************************************************
		AQAtom_TimeSeries
	*****************************************************
	-->
  <xs:element name="AQAtom_TimeSeries">
    <xs:annotation>
      <xs:documentation>Time series data structure</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="AQSamples_T">
          <xs:sequence>
            <xs:element name="correctedNumericValues" type="AQPackageRef_T" minOccurs="0" maxOccurs="1" />
            <xs:element name="corrections" type="AQCorrections_T" minOccurs="0" maxOccurs="1" />
            <xs:element name="interpolationTypeList" type="AQInterpolationTypeList_T" minOccurs="0" maxOccurs="1" />
            <xs:element name="flagList" type="AQFlagsList_T" minOccurs="0" maxOccurs="1" />
            <xs:element name="dataGradeList" type="AQDataGradeList_T" minOccurs="0" maxOccurs="1" />
            <xs:element name="aquariusTimeSeriesFlagsList" type="AQTimeSeriesFlagsList_T" minOccurs="0" maxOccurs="1" />
            <xs:element name="flagsPropsList" type="AQFlagGradePropsList_T" minOccurs="0" maxOccurs="1" />
            <xs:element name="dataGradePropsList" type="AQFlagGradePropsList_T" minOccurs="0" maxOccurs="1" />
            <xs:element name="errorRuleList" type="AQErrorRuleList_T" minOccurs="0" maxOccurs="1" />
            <xs:element name="approvalCodeList" type="AQApprovalCodeList_T" minOccurs="0" maxOccurs="1" />
            <xs:element name="sourceDescriptorList" type="AQSourceDescriptorList_T" minOccurs="0" maxOccurs="1" />
            <xs:element name="referencedTimeSeriesList" type="AQReferencedTimeSeriesList_T" minOccurs="0" maxOccurs="1" />
            <xs:element name="changeLog" type="AQChangeLog_T" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
          <xs:attribute name="maxGapInterval" type="xs:double" use="optional" />
          <xs:attribute name="totalGaps" type="xs:integer" use="required" />
          <xs:attribute name="samplingRate" type="xs:double" use="required">
            <xs:annotation>
              <xs:documentation>Note: Really "samplingPeriod", i.e. the time interval between samples.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="AQTimeSeriesType" type="xs:string" />
          <xs:attribute name="storageVersion" type="xs:string" />
          <xs:attribute name="status" type="AQTimeSeriesStatusEnum" use="optional"/>					
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!--
	*****************************************************
		AQAtom_TimeSeriesBundle
	*****************************************************
	-->
  <xs:element name="AQAtom_TimeSeriesBundle">
    <xs:annotation>
      <xs:documentation>A list of AQAtom_TimeSeries objects.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AQAtom_TimeSeries" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attributeGroup ref="AQCommonAttrs_AG" />
      <xs:attribute ref="AQAtomVersion" />
      <xs:attribute name="bundleType" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <!--
	*****************************************************
		AQAtom_Model
	*****************************************************
	-->
  <xs:element name="AQAtom_Model">
    <xs:annotation>
      <xs:documentation>An AQUARIUS Model treated as a blob.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="AQDataRef_T">
          <xs:attributeGroup ref="TimeInterval_AG" />
          <xs:attribute name="name" type="xs:string" use="required" />
          <xs:attribute name="inputs" type="xs:string" use="required" />
          <xs:attribute name="outputs" type="xs:string" use="required" />
          <xs:attribute name="modelType" type="xs:string" use="required" />
          <xs:attribute name="trainingError" type="xs:double" use="required" />
          <xs:attribute name="testError" type="xs:double" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!--
	*****************************************************
		AQAtom_RatingMeasurements
	*****************************************************
	-->
  <xs:element name="AQAtom_RatingMeasurements">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AQRatingMeasurement" type="AQRatingMeasurement_T" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="depVariableParameterType" type="xs:string"/>
      <xs:attribute name="depVariableUnits" type="AQUnits_ST" use="required" />
      <xs:attribute name="indepVariableParameterType" type="xs:string"/>
      <xs:attribute name="indepVariableUnits" type="AQUnits_ST" use="required" />

      <xs:attribute name="widthUnits" type="xs:string" />
      <xs:attribute name="areaUnits" type="xs:string" />
      <xs:attribute name="meanVelocityUnits" type="xs:string" />
      <xs:attribute name="effectiveDepthUnits" type="xs:string" />
      <xs:attribute name="stageChangeUnits" type="xs:string" />
      
      <xs:attribute name="timezoneBias" type="xs:integer" />
      <xs:attributeGroup ref="AQCommonAttrs_AG" />
      <xs:attribute ref="AQAtomVersion" />
    </xs:complexType>
  </xs:element>
  <!--
	*****************************************************
		AQAtom_SectionMeasurements
	*****************************************************
	-->
  <xs:element name="AQAtom_SectionMeasurements">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AQSectionMeasurement" type="AQSectionMeasurement_T" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attributeGroup ref="AQCommonAttrs_AG" />
      <xs:attribute ref="AQAtomVersion" />
    </xs:complexType>
  </xs:element>
  <!--
	*****************************************************
		AQAtom_RatingPointList
	*****************************************************
	-->
  <xs:element name="AQAtom_RatingPointList">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="pointPair" type="AQPointPair_T" />
      </xs:sequence>
      <xs:attributeGroup ref="AQCommonAttrs_AG" />
      <xs:attribute ref="AQAtomVersion" />
      <xs:attribute name="ratingNumber" type="xs:string" use="required" />
      <xs:attribute name="createUser" type="xs:string" use="required" />
      <xs:attribute name="createDate" type="AQDateTime_ST" use="required" />
      <xs:attribute name="modifyUser" type="xs:string" use="required" />
      <xs:attribute name="modifyDate" type="AQDateTime_ST" use="required" />
      <xs:attribute name="dependantValueParameterType" type="xs:string" />
      <xs:attribute name="independantValueParameterType" type="xs:string" />
      <xs:attribute name="dependantValueUnits"  type="xs:string" />
      <xs:attribute name="independantValueUnits"  type="xs:string" />
    </xs:complexType>
  </xs:element>
  <!--
	*****************************************************
		AQAtom_HYDROML
	*****************************************************
	-->
  <xs:element name="AQAtom_HYDROML">
    <xs:annotation>
      <xs:documentation>A HYDROML XML document treated as a blob.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="AQDataRef_T">
          <xs:attribute name="inputUnits" type="xs:string"/>
          <xs:attribute name="inputParameterType" type="xs:string"/>
          <xs:attribute name="outputUnits" type="xs:string"/>
          <xs:attribute name="outputParameterType" type="xs:string"/>
          <xs:attribute name="timezoneBias" type="xs:integer" />
          <xs:attribute name="defaultInputIDs" type="xs:string" use="optional"/>
          <xs:attribute name="status" type="AQHydroMLStatusEnum" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!--
	*****************************************************
		AQAtom_File
	*****************************************************
	-->
  <xs:element name="AQAtom_File">
    <xs:annotation>
      <xs:documentation>An arbitrary file attachment treated as a blob.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="AQDataRef_T">
          <xs:attribute name="fileName" type="xs:string" use="optional">
            <xs:annotation>
              <xs:documentation>The name of the disk file containing the content.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="src" type="xs:anyURI" use="optional">
            <xs:annotation>
              <xs:documentation>The original location of the content.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!--
	*****************************************************
		AQAtom_NumericMatrix
	*****************************************************
	-->
  <xs:element name="AQAtom_NumericMatrix">
    <xs:annotation>
      <xs:documentation>A binary blob containing a matrix.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="matrixRef" type="AQPackageRef_T" />
      </xs:sequence>
      <xs:attributeGroup ref="AQCommonAttrs_AG" />
      <xs:attribute ref="AQAtomVersion" />
      <xs:attribute name="dimX" type="xs:integer" />
      <xs:attribute name="dimY" type="xs:integer" />
    </xs:complexType>
  </xs:element>
  <!--
	*****************************************************
		AQAtom_NumericVector
	*****************************************************
	-->
  <xs:element name="AQAtom_NumericVector">
    <xs:annotation>
      <xs:documentation>A binary blob containing a vector of doubles.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vectorRef" type="AQPackageRef_T" />
      </xs:sequence>
      <xs:attributeGroup ref="AQCommonAttrs_AG" />
      <xs:attribute ref="AQAtomVersion" />
    </xs:complexType>
  </xs:element>
  <!--
	*****************************************************
		AQAtom_Number
	*****************************************************
	-->
  <xs:element name="AQAtom_Number">
    <xs:annotation>
      <xs:documentation>A double.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="AQCommonAttrs_AG" />
      <xs:attribute ref="AQAtomVersion" />
      <xs:attribute name="value" type="xs:double" />
    </xs:complexType>
  </xs:element>
  <!--
	=====================================================
  **		Attribute and AttributeGroup Definitions     **
	=====================================================
	-->
  <!--
	*****************************************************
		AQDataID
    This attribute holds a database key.
	*****************************************************
	-->
  <xs:attribute name="AQDataID" type="xs:integer">
    <xs:annotation>
      <xs:documentation>database PK</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <!--
	*****************************************************
		AQAtomVersion
    This attribute holds the version of an atom.
	*****************************************************
	-->
  <xs:attribute name="AQAtomVersion" type="xs:string">
    <xs:annotation>
      <xs:documentation>Atom Version Number</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <!--
	*****************************************************
		AQLabelAttrs_AG
    Most elements will have these attributes.
	*****************************************************
	-->
  <xs:attributeGroup name="AQLabelAttrs_AG">
    <xs:attribute name="label" type="xs:string" use="optional" />
    <xs:attribute name="description" type="xs:string" use="optional" />
    <xs:attribute name="comment" type="xs:string" use="optional" />
  </xs:attributeGroup>
  <!--
	*****************************************************
		AQCommonAttrs_AG
    Every userML and atom element will have these attributes
	*****************************************************
	-->
  <xs:attributeGroup name="AQCommonAttrs_AG">
    <xs:attribute ref="AQDataID" use="optional" />
    <xs:attribute name="AQLastModified" type="xs:string" use="optional" />
    <xs:attribute name="AQLastModifiedBy" type="xs:string" use="optional" />
    <xs:attributeGroup ref="AQLabelAttrs_AG" />
  </xs:attributeGroup>
  <!--
	*****************************************************
		AQRootAttrs_AG
    The user-defined root element will have these attributes
	*****************************************************
	-->
  <xs:attributeGroup name="AQRootAttrs_AG">
    <xs:annotation>
      <xs:documentation>Attributes for root element of user's schema</xs:documentation>
    </xs:annotation>
    <xs:attribute name="datasource" type="xs:string" use="required" />
    <xs:attribute name="versionNum" type="xs:string" />
    <xs:attribute name="creatorID" type="xs:string" />
    <xs:attribute name="creationDate" type="AQDateTime_ST" />
  </xs:attributeGroup>
  <!--
	*****************************************************
		AQPackageRef_AG
	*****************************************************
	-->
  <xs:attributeGroup name="AQPackageRef_AG">
    <xs:annotation>
      <xs:documentation>A general type for elements whose data is stored in the file package (AOP).</xs:documentation>
    </xs:annotation>
    <xs:attribute name="packageID" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The id of the content within the package.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
	*****************************************************
		AQDateTime_AG
	*****************************************************
	-->
  <xs:attributeGroup name="AQDateTime_AG">
    <xs:attribute name="day" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>Days since epoch (MatLab serial date format)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="epoch" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation>Days (+/-) since Jan. 1, 0</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
	*****************************************************
		AQMeasurementDate_AG
	*****************************************************
	-->
  <xs:attributeGroup name="AQMeasurementDate_AG">
    <xs:attribute name="measurementDate" type="xs:double" use="required">
      <xs:annotation>
        <xs:documentation>Days since epoch (MatLab serial date format)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="measurementEpoch" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation>Days (+/-) since Jan. 1, 0</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
	*****************************************************
		TimeInterval_AG
	*****************************************************
	-->
  <xs:attributeGroup name="TimeInterval_AG">
    <xs:attribute name="startTime" type="AQDateTime_ST" use="required" />
    <xs:attribute name="endTime" type="AQDateTime_ST" use="optional" />
    <xs:attribute name="startEpoch" type="xs:integer" use="optional" />
    <xs:attribute name="endEpoch" type="xs:integer" use="optional" />
  </xs:attributeGroup>
  <!--
	*****************************************************
		CommonTimeInterval_AG
	*****************************************************
	-->
  <xs:attributeGroup name="CommonTimeInterval_AG">
    <xs:attributeGroup ref="AQLabelAttrs_AG" />
    <xs:attributeGroup ref="TimeInterval_AG" />
  </xs:attributeGroup>
  <!--
	*****************************************************
		AQUserData_AG
	*****************************************************
	-->
  <xs:attributeGroup name="AQUserData_AG">
    <xs:annotation>
      <xs:documentation>Values attached to time series data.</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="CommonTimeInterval_AG" />
    <xs:attribute name="dateApplied" type="AQDateTime_ST" />
    <xs:attribute name="dateAppliedTZBias" type="xs:integer" />
    <xs:attribute name="user" type="xs:string" />
    <xs:attribute name="type" type="xs:string" />
    <xs:attribute name="applyOrder" type="xs:integer" />
    <xs:attribute name="AQMetadataID" type="xs:string" />
  </xs:attributeGroup>
  <!--
	=====================================================
  **		        Complex Type Definitions             **
	=====================================================
	-->
  <!--
	*****************************************************
		AQPackageRef_T
	*****************************************************
	-->
  <xs:complexType name="AQPackageRef_T">
    <xs:annotation>
      <xs:documentation>A general type for elements whose data is stored in the file package (AOP).</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="AQLabelAttrs_AG" />
    <xs:attributeGroup ref="AQPackageRef_AG" />
  </xs:complexType>
  <!--
	*****************************************************
		AQTimeIntervalPackageRef_T
	*****************************************************
	-->
  <xs:complexType name="AQTimeIntervalPackageRef_T">
    <xs:annotation>
      <xs:documentation>A general type for elements whose data is stored in the file package (AOP).</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="CommonTimeInterval_AG" />
    <xs:attributeGroup ref="AQPackageRef_AG" />
  </xs:complexType>
  <!--
	*****************************************************
		AQSamples_T
	*****************************************************
	-->
  <xs:complexType name="AQSamples_T">
    <xs:annotation>
      <xs:documentation>Base type for Discrete Samples and Time Series.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="timeStamps" type="AQPackageRef_T" />
      <xs:element name="numericValues" type="AQPackageRef_T" />
      <xs:element name="notes" type="AQNotes_T" minOccurs="0" />
    </xs:sequence>
    <xs:attribute ref="AQAtomVersion" />
    <xs:attribute name="timezoneBias" type="xs:integer" />
    <xs:attributeGroup ref="AQCommonAttrs_AG" />
    <xs:attributeGroup ref="TimeInterval_AG" />
    <xs:attribute name="units" type="AQUnits_ST" use="optional" />
    <xs:attribute name="min" type="xs:double" use="required" />
    <xs:attribute name="max" type="xs:double" use="required" />
    <xs:attribute name="mean" type="xs:double" use="required" />
    <xs:attribute name="totalSamples" type="xs:integer" use="required" />
    <!-- ********** New for version 1.2 added May 26/2009 by psharpe ************* -->
    <xs:attribute name="startValue" type="xs:double" use="optional" />
    <xs:attribute name="endValue" type="xs:double" use="optional" />
    <xs:attribute name="parameterType" type="xs:string" use="optional" />

  </xs:complexType>
  <!--
	*****************************************************
		AQNotes_T
	*****************************************************
	-->
  <xs:complexType name="AQNotes_T">
    <xs:annotation>
      <xs:documentation>A list of notes attached to TimeSeries or DiscreteSamples data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="note" type="AQNote_T" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="AQLabelAttrs_AG" />
  </xs:complexType>
  <!--
	*****************************************************
		AQNote_T
	*****************************************************
	-->
  <xs:complexType name="AQNote_T">
    <xs:annotation>
      <xs:documentation>A note attached to TimeSeries or DiscreteSamples data.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="AQUserData_AG" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <!--
	*****************************************************
		AQCorrections_T
	*****************************************************
	-->
  <xs:complexType name="AQCorrections_T">
    <xs:annotation>
      <xs:documentation>A list of corrections to the TimeSeries data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="correction" type="AQCorrection_T" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="AQLabelAttrs_AG" />
  </xs:complexType>
  <!--
	*****************************************************
		AQCorrection_T
	*****************************************************
	-->
  <xs:complexType name="AQCorrection_T">
    <xs:annotation>
      <xs:documentation>A correction to TimeSeries data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- ********** Old-style "value-list" correction ********** -->
      <xs:element name="correctedValues" type="AQPackageRef_T" minOccurs="0" maxOccurs="1" />
      <xs:element name="originalValues" type="AQPackageRef_T" minOccurs="0" maxOccurs="1" />
      <!-- ********** New-style, parameterized corrections. Added May 26/2009 psharpe ********** -->
      <xs:element name="parameterList" type="AQParameterList_T" minOccurs="0" maxOccurs="1" />
      <!-- ********** Approval History ********** -->
      <xs:element name="approvalHistory" type="AQApprovalCodeList_T" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="parameterized" type="xs:string" default="false" />
    <xs:attribute name="gradeType" type="xs:string" />
    <xs:attribute name="grade" type="xs:integer" />
    <xs:attribute name="method" type="xs:string" />
    <xs:attribute name="modifiedPoints" type="xs:integer" />
    <xs:attributeGroup ref="AQUserData_AG" />
  </xs:complexType>
  <!--
	*****************************************************************
		AQParameterList_T
      ADDED May 26/20009 psharpe to support new-style corrections
	*****************************************************************
	-->
  <xs:complexType name="AQParameterList_T">
    <xs:sequence>
      <xs:element name="parameter" type="AQParameter_T" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--
	*****************************************************************
		AQParameter_T
      ADDED May 26/20009 psharpe to support new-style corrections
	*****************************************************************
	-->
  <xs:complexType name="AQParameter_T">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <!--
	*****************************************************
		AQFlagGradeProps_T
	*****************************************************
	-->
  <xs:complexType name="AQFlagGradeProps_T">
    <xs:annotation>
      <xs:documentation>A list of properties attached to the flag and data grade lists.</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="AQLabelAttrs_AG" />
    <xs:attribute name="value" type="xs:integer" />
    <xs:attribute name="colorref" type="xs:integer" />
  </xs:complexType>
  <!--
	*****************************************************
		AQFlagGradePropsList_T
	*****************************************************
	-->
  <xs:complexType name="AQFlagGradePropsList_T">
    <xs:annotation>
      <xs:documentation>A list of properties attached to the flag and data grade lists.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flagGradeProps" type="AQFlagGradeProps_T" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="AQLabelAttrs_AG" />
  </xs:complexType>
  <!--
	*****************************************************
		AQFlagsList_T
	*****************************************************
	-->
  <xs:complexType name="AQFlagsList_T">
    <xs:annotation>
      <xs:documentation>A list of flags attached to the TimeSeries data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flag" type="AQFlags_T" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="AQLabelAttrs_AG" />
  </xs:complexType>
  <!--
	*****************************************************
		AQFlags_T
	*****************************************************
	-->
  <xs:complexType name="AQFlags_T">
    <xs:annotation>
      <xs:documentation>Flags attached to an interval of TimeSeries data.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="ruleSet" type="xs:string" />
    <xs:attributeGroup ref="AQUserData_AG" />
  </xs:complexType>
  <!--
	*****************************************************
		AQTimeSeriesFlagsList_T
    DEPRECATED
	*****************************************************
	-->
  <xs:complexType name="AQTimeSeriesFlagsList_T">
    <xs:annotation>
      <xs:documentation>A list of flags attached to the TimeSeries data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="aquariusTimeSeriesFlags" type="AQTimeSeriesFlags_T" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="AQLabelAttrs_AG" />
  </xs:complexType>
  <!--
	*****************************************************
		AQTimeSeriesFlags_T
	*****************************************************
	-->
  <xs:complexType name="AQTimeSeriesFlags_T">
    <xs:annotation>
      <xs:documentation>Flags attached to an interval of TimeSeries data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flagData" type="AQPackageRef_T" />
    </xs:sequence>
    <xs:attributeGroup ref="AQUserData_AG" />
  </xs:complexType>
  <!--
	*****************************************************
		AQInterpolationTypeList_T
	*****************************************************
	-->
  <xs:complexType name="AQInterpolationTypeList_T">
    <xs:annotation>
      <xs:documentation>A list of interpolation types attached to the TimeSeries data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="interpolationType" type="AQInterpolationType_T" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="AQLabelAttrs_AG" />
  </xs:complexType>
  <!--
	*****************************************************
		AQInterpolationType_T
	*****************************************************
	-->
  <xs:complexType name="AQInterpolationType_T">
    <xs:annotation>
      <xs:documentation>Interpolation type attached to an interval of TimeSeries data.</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="AQUserData_AG" />
  </xs:complexType>
  <!--
	*****************************************************
		AQDataGradeList_T
	*****************************************************
	-->
  <xs:complexType name="AQDataGradeList_T">
    <xs:annotation>
      <xs:documentation>A list of data grade values attached to the TimeSeries data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataGrade" type="AQDataGrade_T" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="AQLabelAttrs_AG" />
  </xs:complexType>
  <!--
	*****************************************************
		AQDataGrade_T
	*****************************************************
	-->
  <xs:complexType name="AQDataGrade_T">
    <xs:annotation>
      <xs:documentation>Data grade values attached to an interval of TimeSeries data.</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="AQUserData_AG" />
    <xs:attribute name="value" type="xs:integer" />
  </xs:complexType>
  <!--
	*****************************************************
		AQApprovalCodeList_T
	*****************************************************
	-->
  <xs:complexType name="AQApprovalCodeList_T">
    <xs:annotation>
      <xs:documentation>A list of approval code changes attached to the TimeSeries data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="approvalCode" type="AQApprovalCode_T" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--
	*****************************************************
		AQApprovalCode_T
	*****************************************************
	-->
  <xs:complexType name="AQApprovalCode_T">
    <xs:annotation>
      <xs:documentation>An entry in the list of approval code changes.</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="AQUserData_AG" />
    <xs:attribute name="code" type="xs:integer" />
  </xs:complexType>
  
  <!--
	*****************************************************
		AQSourceDescriptorList_T
	*****************************************************
	-->
  <xs:complexType name="AQSourceDescriptorList_T">
    <xs:annotation>
      <xs:documentation>A list of descriptors identifying the source of time series data points.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceDescriptor" type="AQSourceDescriptor_T" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--
	*****************************************************
		AQSourceDescriptor_T
	*****************************************************
	-->
  <xs:complexType name="AQSourceDescriptor_T">
    <xs:annotation>
      <xs:documentation>A value identifying the source of a range of time series data.</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="AQUserData_AG" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <!--
	*****************************************************
		AQErrorRuleList_T
	*****************************************************
	-->
  <xs:complexType name="AQErrorRuleList_T">
    <xs:annotation>
      <xs:documentation>A list of data grade values attached to the TimeSeries data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorRuleSection" type="AQErrorRuleSection_T" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="AQLabelAttrs_AG" />
  </xs:complexType>
  <!--
	*****************************************************
		AQErrorRuleSection_T
	*****************************************************
	-->
  <xs:complexType name="AQErrorRuleSection_T">
    <xs:annotation>
      <xs:documentation>Data grade values attached to an interval of TimeSeries data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorRule" type="AQErrorRule_T" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="CommonTimeInterval_AG" />
  </xs:complexType>
  <!--
	*****************************************************
		AQErrorRule_T
	*****************************************************
	-->
  <xs:complexType name="AQErrorRule_T">
    <xs:attributeGroup ref="AQLabelAttrs_AG" />
    <xs:attribute name="minValue" type="xs:double" use="optional" />
    <xs:attribute name="maxValue" type="xs:double" use="optional" />
    <xs:attribute name="errValue" type="xs:double" use="optional" />
    <xs:attribute name="errPercent" type="xs:double" use="optional" />
  </xs:complexType>
  <!--
	*****************************************************
		AQReferencedTimeSeriesList_T
	*****************************************************
	-->
  <xs:complexType name="AQReferencedTimeSeriesList_T">
    <xs:annotation>
      <xs:documentation>A list of external TimeSeries used to create an aggregate.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referencedTimeSeries" type="AQReferencedTimeSeries_T" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="nextID" type="xs:integer" use="optional" />
    <xs:attribute name="defaultSignalID" type="xs:integer" use="optional" />
    <xs:attribute name="derivationRuleID" type="xs:string" use="optional" />
  </xs:complexType>
  <!--
	*****************************************************
		AQreferencedTimeSeries_T
	*****************************************************
	-->
  <xs:complexType name="AQReferencedTimeSeries_T">
    <xs:sequence>
      <xs:element name="mixingRuleList" type="AQMixingRuleList_T" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="localCopy" type="AQPackageRef_T" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" use="optional" />
    <xs:attribute name="refID" type="xs:integer" use="optional" />
    <xs:attribute name="src" type="xs:string" use="optional" />
    <xs:attribute name="useRawValues" type="xs:boolean" use="optional" />
  </xs:complexType>
  <!--
	*****************************************************
		AQMixingRuleList_T
	*****************************************************
	-->
  <xs:complexType name="AQMixingRuleList_T">
    <xs:sequence>
      <xs:element name="mixingRule" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <!--
	*****************************************************
		AQChangeLog_T
	*****************************************************
	-->
  <xs:complexType name="AQChangeLog_T">
    <xs:annotation>
      <xs:documentation>A log of editing changes to TimeSeries data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="changeLogEntry" type="AQChangeLogEntry_T" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--
	*****************************************************
		AQChangeLogEntry_T
	*****************************************************
	-->
  <xs:complexType name="AQChangeLogEntry_T">
    <xs:attributeGroup ref="AQUserData_AG">
      <xs:annotation>
        <xs:documentation>
          time interval
          date applied
          user
          type
        </xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>
  <!--
	*****************************************************
		AQRatingVariable_T
	*****************************************************
	-->
  <xs:complexType name="AQRatingVariable_T">
    <xs:annotation>
      <xs:documentation>common type for depVariable and indepVariable</xs:documentation>
    </xs:annotation>
    <xs:attribute name="description" type="xs:string" use="required" />
    <xs:attribute name="units" type="AQUnits_ST" use="required" />
    <xs:attribute name="value" type="xs:double" use="required" />
  </xs:complexType>
  <!--
	*****************************************************
		AQRatingMeasurementList_T
	*****************************************************
	-->
  <xs:complexType name="AQRatingMeasurementList_T">
    <xs:sequence>
      <xs:element name="AQRatingMeasurement" type="AQRatingMeasurement_T" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--
	*****************************************************
		AQRatingMeasurement_T
	*****************************************************
	-->
  <xs:complexType name="AQRatingMeasurement_T">
    <xs:annotation>
      <xs:documentation>a computed stage discharge point pair from an AQSectionMeasurement</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="depVariable" type="AQRatingVariable_T" />
      <xs:element name="indepVariable" type="AQRatingVariable_T" />
    </xs:sequence>
    <xs:attribute ref="AQDataID" use="optional" />
    <xs:attribute name="comment" type="xs:string" use="optional" />
    <xs:attributeGroup ref="AQMeasurementDate_AG" />
    <xs:attribute name="measurementID" type="xs:string" use="required" />
    <xs:attribute name="error" type="xs:double" use="required" />
    <!-- New for Version 2.0 -->
    <xs:attribute name="measuredBy" type="xs:string" />
    <xs:attribute name="width" type="xs:double" />
    <xs:attribute name="widthUnits" type="xs:string" />
    <xs:attribute name="area" type="xs:double" />
    <xs:attribute name="areaUnits" type="xs:string" />
    <xs:attribute name="meanVelocity" type="xs:double" />
    <xs:attribute name="meanVelocityUnits" type="xs:string" />
    <xs:attribute name="effectiveDepth" type="xs:double" />
    <xs:attribute name="effectiveDepthUnits" type="xs:string" />
    <xs:attribute name="method" type="xs:string" />
    <xs:attribute name="verticals" type="xs:integer" />
    <xs:attribute name="stageChange" type="xs:double" />
    <xs:attribute name="stageChangeUnits" type="xs:string" />
    <xs:attribute name="quality" type="xs:string" />
    <xs:attribute name="condition" type="xs:string" />
    <xs:attribute name="grade" type="xs:integer" />
	<xs:attribute name="approvelLevel" type="xs:integer" />
    <xs:attribute name="displayID" type="xs:string" />
  </xs:complexType>
  <!--
	*****************************************************
		AQSectionMeasurement_T
	*****************************************************
	-->
  <xs:complexType name="AQSectionMeasurement_T">
    <xs:annotation>
      <xs:documentation>a set of measurements across a river section</xs:documentation>
    </xs:annotation>
    <xs:attribute ref="AQDataID" use="optional" />
    <xs:attribute name="comment" type="xs:string" use="optional" />
    <xs:attributeGroup ref="AQMeasurementDate_AG" />
    <xs:attribute name="measurementID" type="xs:string" use="required" />
    <xs:attribute name="startStage" type="xs:double" use="required" />
    <xs:attribute name="endStage" type="xs:double" use="required" />
    <xs:attribute name="distanceFromIP" type="xs:double" use="required" />
    <xs:attribute name="distanceUnits" type="AQUnits_ST" use="required" />
    <xs:attribute name="sectionDepth" type="xs:double" use="required" />
    <xs:attribute name="sectionDepthUnits" type="AQUnits_ST" use="required" />
    <xs:attribute name="velocity20" type="xs:double" use="required" />
    <xs:attribute name="velocity60" type="xs:double" use="required" />
    <xs:attribute name="velocity80" type="xs:double" use="required" />
    <xs:attribute name="velocityAngle" type="xs:double" use="required" />
    <xs:attribute name="velocityUnits" type="AQUnits_ST" use="required" />
    <xs:attribute name="uncertainty" type="xs:string" use="required" />
  </xs:complexType>
  <!--
	*****************************************************
		AQPointPair_T
	*****************************************************
	-->
  <xs:complexType name="AQPointPair_T">
    <xs:attribute ref="AQDataID" use="optional" />
    <xs:attribute name="dependantValue" type="xs:double" use="required" />
    <xs:attribute name="independantValue" type="xs:double" use="required" />
  </xs:complexType>
  <!--
	*****************************************************
		AQDataRef_T
	*****************************************************
	-->
  <xs:complexType name="AQDataRef_T">
    <xs:attributeGroup ref="AQCommonAttrs_AG" />
    <xs:attribute ref="AQAtomVersion" />
  </xs:complexType>
  <!--
	*****************************************************
		AQUnit_T
	*****************************************************
	-->
  <xs:complexType name="AQUnit_T">
    <xs:attributeGroup ref="AQCommonAttrs_AG" />
    <xs:attribute name="SIMultiplier" type="xs:double" use="optional" />
    <xs:attribute name="SIOffset" type="xs:double" use="optional" />
    <xs:attribute name="isSI" type="xs:integer" use="optional" />
  </xs:complexType>
  <!--
	*****************************************************
		AQUnitGroup_T
	*****************************************************
	-->
  <xs:complexType name="AQUnitGroup_T">
    <xs:sequence>
      <xs:element name="unit" type="AQUnit_T" />
    </xs:sequence>
    <xs:attributeGroup ref="AQCommonAttrs_AG" />
    <xs:attribute name="dimLength" type="xs:integer" use="optional" />
    <xs:attribute name="dimMass" type="xs:integer" use="optional" />
    <xs:attribute name="dimTemp" type="xs:integer" use="optional" />
    <xs:attribute name="dimMoles" type="xs:integer" use="optional" />
    <xs:attribute name="dimLum" type="xs:integer" use="optional" />
    <xs:attribute name="dimAmps" type="xs:integer" use="optional" />
    <xs:attribute name="dimCurrency" type="xs:integer" use="optional" />
    <xs:attribute name="dimTime" type="xs:integer" use="optional" />
  </xs:complexType>
  <!--
	*****************************************************
		Simple types for attributes
	*****************************************************
	-->
  <xs:simpleType name="AQUnits_ST">
    <xs:annotation>
      <xs:documentation>Storage type for units.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="AQDateTime_ST">
    <xs:annotation>
      <xs:documentation>MatLab serial date format</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double" />
  </xs:simpleType>
  <xs:simpleType name="AQLatLon_ST">
    <xs:annotation>
      <xs:documentation>Storage type for latitude or longitude.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double" />
  </xs:simpleType>
  <xs:simpleType name="AQDCPAddress_ST">
    <xs:annotation>
      <xs:documentation>Storage type for DCP address.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
</xs:schema>
